

.back{
    background-image: url('/assets/background.jpg');
    padding-top:260px;
    padding-bottom: 260px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.slogan{
    font-family: verdana;
    text-align: center;
    font-size: 52;
    color: 222831;
    margin-left: 200px;
    margin-right: 200px;
}

.shopnow{
    width: 20%;
}

.btnshop{
    padding-left: 170px;
}

.border{
    border: 10px solid black;
    padding: 5px;
  }

.kid{
    height: 226px;
}

.women{
    height: 226px;
}

.men{
    height: 226px;
}

hr{
    height:10px;
}

.center1{
    display: block;
    margin-left: 110px;
    margin-right: auto;
    width: 15%;
}

.custom{
    padding-bottom: 300px;
    background-image: url('/assets/wall.jpg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: 222831;

}

.customtext{
    font-family: verdana;
    font-size: 52;
    color: 222831;
    margin-left: 50px;
}

.rewardsblock{
    padding-right:60px;
    float: right;
    text-align: center;
    font-family: verdana;
    font-size: 36;
    color: white;
}

.signin{
    margin-top: 20px;
}

footer{
    background-color:c1a57b;
    color:30475e;
}

.cart{
    padding-left: 15px;
}

.heart{
    padding-left: 15px;
}

.sign{
    padding-left: 15px;
    color:white;
}

.dropbtn {
    padding-top:8px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

