

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.abouttitle{
    font-size: 52;
    font-family: verdana;
    text-align: center;
    color:white;
}

.business{
    background-color: 30475e;
}

.navbtn{
    width:350px;
}

hr{
    background-color: white;
    height: 15px;
}

.description{
    margin-left:100px;
    margin-right: 100px;
    padding-bottom:100px;
}

h3{
    color:white;
    font-family: verdana;
    text-align: center;
}

h4{
    color:ececec;
    font-family: verdana;
}

.blm{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}

footer{
    background-color:c1a57b;
    color:30475e;
}

.sign{
    padding-left: 15px;
    color:white;
}

.cart{
    padding-left: 15px;
}

.heart{
    padding-left: 15px;
}

.dropbtn {
    padding-top:8px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

